
*Hands-on of Big Data Analyst with TuV Certified Qualification*


---

# Artificial Neural Network

Artificial neural networks (ANN) or connectionist systems are computing systems that are inspired by, but not necessarily identical to, the biological neural networks that constitute animal brains. [*WIkipedia*](https://en.wikipedia.org/wiki/Artificial_neural_network). 

In this practice, we will keep working on the Telco Cutomer Churn Dataset.

In [1]:
# Import Library
import pandas as pd

In [2]:
#Import the files to Google Colab
url = 'https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn_trasnsformed_new.csv'
df_csv = pd.read_csv(url, sep=',',)

# Show 10 first Row
df_csv.head()

,Unnamed: 0,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,1,1,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,1,0,0,1,1,0,0,1,34,...,1,0,1,0,0,1,0,5695,18895.0,0
2,2,1,0,0,1,1,0,0,1,2,...,0,1,0,1,0,1,0,5385,10815.0,1
3,3,1,0,0,1,1,0,0,1,45,...,1,0,1,0,0,1,1,423,184075.0,0
4,4,0,1,0,1,1,0,0,1,2,...,0,1,0,1,0,0,1,707,15165.0,1

In [3]:
# Remove "Unnamed:O" Coloumn
df = df_csv.drop("Unnamed: 0", axis=1)
df.head()
# Data Frame for the output parameter 'Churn'
df_churn = df
# Data Frame for the output parameter 'Total Charges'
df_totalCharges = df

In [4]:
df_churn.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,0,1,0,1,1,0,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,0,0,1,1,0,0,1,34,1,...,1,0,1,0,0,1,0,5695,18895.0,0
2,1,0,0,1,1,0,0,1,2,1,...,0,1,0,1,0,1,0,5385,10815.0,1
3,1,0,0,1,1,0,0,1,45,0,...,1,0,1,0,0,1,1,423,184075.0,0
4,0,1,0,1,1,0,0,1,2,1,...,0,1,0,1,0,0,1,707,15165.0,1

In [5]:
df_totalCharges.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,0,1,0,1,1,0,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,0,0,1,1,0,0,1,34,1,...,1,0,1,0,0,1,0,5695,18895.0,0
2,1,0,0,1,1,0,0,1,2,1,...,0,1,0,1,0,1,0,5385,10815.0,1
3,1,0,0,1,1,0,0,1,45,0,...,1,0,1,0,0,1,1,423,184075.0,0
4,0,1,0,1,1,0,0,1,2,1,...,0,1,0,1,0,0,1,707,15165.0,1

In [6]:
# Check the Data Infomation
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender_0            7043 non-null   int64
 1   gender_1            7043 non-null   int64
 2   SeniorCitizen_0     7043 non-null   int64
 3   SeniorCitizen_1     7043 non-null   int64
 4   Partner_0           7043 non-null   int64
 5   Partner_1           7043 non-null   int64
 6   Dependents_0        7043 non-null   int64
 7   Dependents_1        7043 non-null   int64
 8   tenure              7043 non-null   int64
 9   PhoneService_0      7043 non-null   int64
 10  PhoneService_1      7043 non-null   int64
 11  MultipleLines_0     7043 non-null   int64
 12  MultipleLines_1     7043 non-null   int64
 13  MultipleLines_2     7043 non-null   int64
 14  InternetService_0   7043 non-null   int64
 15  InternetService_1   7043 non-null   int64
 16  InternetService_2   7043 non-null   int64
 17  OnlineSecurity_0    7043 non-null   int64
 18  OnlineSecurity_1    7043 non-null   int64
 19  OnlineSecurity_2    7043 non-null   int64
 20  OnlineBackup_0      7043 non-null   int64
 21  OnlineBackup_1      7043 non-null   int64
 22  OnlineBackup_2      7043 non-null   int64
 23  DeviceProtection_0  7043 non-null   int64
 24  DeviceProtection_1  7043 non-null   int64
 25  DeviceProtection_2  7043 non-null   int64
 26  TechSupport_0       7043 non-null   int64
 27  TechSupport_1       7043 non-null   int64
 28  TechSupport_2       7043 non-null   int64
 29  StreamingTV_0       7043 non-null   int64
 30  StreamingTV_1       7043 non-null   int64
 31  StreamingTV_2       7043 non-null   int64
 32  StreamingMovies_0   7043 non-null   int64
 33  StreamingMovies_1   7043 non-null   int64
 34  StreamingMovies_2   7043 non-null   int64
 35  Contract_0          7043 non-null   int64
 36  Contract_1          7043 non-null   int64
 37  Contract_2          7043 non-null   int64
 38  PaperlessBilling_0  7043 non-null   int64
 39  PaperlessBilling_1  7043 non-null   int64
 40  PaymentMethod_0     7043 non-null   int64
 41  PaymentMethod_1     7043 non-null   int64
 42  PaymentMethod_2     7043 non-null   int64
 43  MonthlyCharges      7043 non-null   int64
 44  TotalCharges        7043 non-null   float64
 45  Churn               7043 non-null   int64
dtypes: float64(1), int64(45)
memory usage: 2.5 MB

In [7]:
#Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler
#-------------------For 'Churn' as the output parameter-----------------------
# initialize min-max scaler
mm_scaler = MinMaxScaler()
column_names = df_churn.columns.tolist()
column_names.remove('Churn')

# Transform all attributes
df_churn[column_names] = mm_scaler.fit_transform(df_churn[column_names])
df_churn.sort_index(inplace=True)
df_churn.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.003420,0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.021766,0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,0.012449,1
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.212235,0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,0.017465,1

In [8]:
#-------------------For 'TotalCharges' as the output parameter------------------
column_names_2 = df_totalCharges.columns.tolist()
column_names_2.remove('TotalCharges')

# Transform all attributes
df_totalCharges[column_names_2] = mm_scaler.fit_transform(df_totalCharges[column_names_2])
df_totalCharges.sort_index(inplace=True)
df_totalCharges.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.003420,0.0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.021766,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,0.012449,1.0
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.212235,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,0.017465,1.0

In [9]:
# Selecting the Feature, by remove the unused feature 
feature = ['Churn']
train_feature_1 = df_churn.drop(feature, axis=1)

# Set The Target
train_target_1 = df_churn["Churn"]

In [10]:
# Show the Feature
train_feature_1.head(5)

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.003420
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.021766
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,0.012449
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.212235
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,0.017465

The scikit-learn library provides us with the splitter function 
train_test_split(). The original dataset is split into input(X) and output(Y) columns, then call the function passing both arrays and have them split into train and test subsets. Input(X) in this case is 'train_feature' and output(Y) will be 'train_target'. The size of the split is specified via the test_size argument, the value used in this case is 0.3 which denotes that 30 percent of the dataset will be allocated to the test set and 70 percent will be allocated to the training test. The shffle parameter is used to shuffle the data before splitting, its default value is 'True'.

In [11]:
# Split Data 
# For 70:30 train-test ratio
from sklearn.model_selection import train_test_split, cross_val_score
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(train_feature_1,
                                                            train_target_1, 
                                                            shuffle = True, 
                                                            test_size=0.3, 
                                                            random_state=1)

In [12]:
# Show the training data
X_train_1.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges
5925,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.277778,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.056343,0.016308
4395,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.958333,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.875169,0.085848
1579,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.166667,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.676957,0.010935
1040,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.194444,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.761302,0.014578
1074,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.013889,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.016194,0.000221

To train the ANN Model.We will use the MLPClassifier from Scikit Learn Library. The full documentation can be seen [HERE](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html). Below is the default parameter:

`sklearn.neural_network.MLPClassifier(hidden_layer_sizes=(100), activation=’relu’, solver=’adam’, alpha=0.0001, batch_size=’auto’, learning_rate=’constant’, learning_rate_init=0.001, power_t=0.5, max_iter=200, shuffle=True, random_state=None, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True, early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08, n_iter_no_change=10)`

In [13]:
# Import Library
from sklearn.neural_network import MLPClassifier

# Fitting Model
mlp_1 = MLPClassifier(hidden_layer_sizes=(5), activation = 'relu', solver = 'adam',max_iter= 10000, verbose = True)
mlp_1 = mlp_1.fit(X_train_1,y_train_1)

# Prediction to Test Dataset
y_predmlp_1 = mlp_1.predict(X_test_1)

Iteration 1, loss = 0.56286397
Iteration 2, loss = 0.51892746
Iteration 3, loss = 0.49642797
Iteration 4, loss = 0.48035651
Iteration 5, loss = 0.46834415
Iteration 6, loss = 0.45879149
Iteration 7, loss = 0.45169116
Iteration 8, loss = 0.44740694
Iteration 9, loss = 0.44462657
Iteration 10, loss = 0.44247464
Iteration 11, loss = 0.44067617
Iteration 12, loss = 0.43952082
Iteration 13, loss = 0.43801440
Iteration 14, loss = 0.43722527
Iteration 15, loss = 0.43661789
Iteration 16, loss = 0.43568316
Iteration 17, loss = 0.43519491
Iteration 18, loss = 0.43437119
Iteration 19, loss = 0.43408388
Iteration 20, loss = 0.43336906
Iteration 21, loss = 0.43323358
Iteration 22, loss = 0.43250250
Iteration 23, loss = 0.43226889
Iteration 24, loss = 0.43184781
Iteration 25, loss = 0.43156140
Iteration 26, loss = 0.43121486
Iteration 27, loss = 0.43135299
Iteration 28, loss = 0.43067097
Iteration 29, loss = 0.43062674
Iteration 30, loss = 0.43006995
Iteration 31, loss = 0.42975083
Iteration 32, loss = 0.42955768
Iteration 33, loss = 0.42964746
Iteration 34, loss = 0.42908955
Iteration 35, loss = 0.42890498
Iteration 36, loss = 0.42860162
Iteration 37, loss = 0.42842291
Iteration 38, loss = 0.42828291
Iteration 39, loss = 0.42816452
Iteration 40, loss = 0.42842211
Iteration 41, loss = 0.42815132
Iteration 42, loss = 0.42762660
Iteration 43, loss = 0.42722680
Iteration 44, loss = 0.42723554
Iteration 45, loss = 0.42730384
Iteration 46, loss = 0.42683306
Iteration 47, loss = 0.42711535
Iteration 48, loss = 0.42665229
Iteration 49, loss = 0.42658386
Iteration 50, loss = 0.42638787
Iteration 51, loss = 0.42599712
Iteration 52, loss = 0.42695583
Iteration 53, loss = 0.42635368
Iteration 54, loss = 0.42581617
Iteration 55, loss = 0.42557948
Iteration 56, loss = 0.42574805
Iteration 57, loss = 0.42572099
Iteration 58, loss = 0.42566969
Iteration 59, loss = 0.42537838
Iteration 60, loss = 0.42589874
Iteration 61, loss = 0.42549545
Iteration 62, loss = 0.42522895
Iteration 63, loss = 0.42514709
Iteration 64, loss = 0.42565567
Iteration 65, loss = 0.42470955
Iteration 66, loss = 0.42449765
Iteration 67, loss = 0.42444358
Iteration 68, loss = 0.42493012
Iteration 69, loss = 0.42460539
Iteration 70, loss = 0.42483973
Iteration 71, loss = 0.42424847
Iteration 72, loss = 0.42550239
Iteration 73, loss = 0.42413642
Iteration 74, loss = 0.42468890
Iteration 75, loss = 0.42399310
Iteration 76, loss = 0.42398323
Iteration 77, loss = 0.42422347
Iteration 78, loss = 0.42405818
Iteration 79, loss = 0.42364546
Iteration 80, loss = 0.42363397
Iteration 81, loss = 0.42352310
Iteration 82, loss = 0.42348444
Iteration 83, loss = 0.42348820
Iteration 84, loss = 0.42369485
Iteration 85, loss = 0.42361049
Iteration 86, loss = 0.42322590
Iteration 87, loss = 0.42354158
Iteration 88, loss = 0.42374993
Iteration 89, loss = 0.42291217
Iteration 90, loss = 0.42322702
Iteration 91, loss = 0.42322814
Iteration 92, loss = 0.42304331
Iteration 93, loss = 0.42304760
Iteration 94, loss = 0.42293010
Iteration 95, loss = 0.42374324
Iteration 96, loss = 0.42264851
Iteration 97, loss = 0.42258151
Iteration 98, loss = 0.42350587
Iteration 99, loss = 0.42231230
Iteration 100, loss = 0.42281780
Iteration 101, loss = 0.42275870
Iteration 102, loss = 0.42263072
Iteration 103, loss = 0.42253519
Iteration 104, loss = 0.42218954
Iteration 105, loss = 0.42197774
Iteration 106, loss = 0.42283062
Iteration 107, loss = 0.42299377
Iteration 108, loss = 0.42207085
Iteration 109, loss = 0.42266338
Iteration 110, loss = 0.42231735
Iteration 111, loss = 0.42220813
Iteration 112, loss = 0.42191455
Iteration 113, loss = 0.42206598
Iteration 114, loss = 0.42299818
Iteration 115, loss = 0.42226471
Iteration 116, loss = 0.42180635
Iteration 117, loss = 0.42228044
Iteration 118, loss = 0.42216887
Iteration 119, loss = 0.42246281
Iteration 120, loss = 0.42186068
Iteration 121, loss = 0.42213255
Iteration 122, loss = 0.42195150
Iteration 123, loss = 0.42169474
Iteration 124, loss = 0.42164829
Iteration 125, loss = 0.42186437
Iteration 126, loss = 0.42303632
Iteration 127, loss = 0.42168741
Iteration 128, loss = 0.42157969
Iteration 129, loss = 0.42140778
Iteration 130, loss = 0.42175326
Iteration 131, loss = 0.42134452
Iteration 132, loss = 0.42112156
Iteration 133, loss = 0.42132308
Iteration 134, loss = 0.42125152
Iteration 135, loss = 0.42134457
Iteration 136, loss = 0.42135742
Iteration 137, loss = 0.42104533
Iteration 138, loss = 0.42101790
Iteration 139, loss = 0.42130250
Iteration 140, loss = 0.42084744
Iteration 141, loss = 0.42141937
Iteration 142, loss = 0.42087234
Iteration 143, loss = 0.42117300
Iteration 144, loss = 0.42078486
Iteration 145, loss = 0.42074905
Iteration 146, loss = 0.42088130
Iteration 147, loss = 0.42060449
Iteration 148, loss = 0.42080121
Iteration 149, loss = 0.42079725
Iteration 150, loss = 0.42074709
Iteration 151, loss = 0.42131156
Iteration 152, loss = 0.42030434
Iteration 153, loss = 0.42088131
Iteration 154, loss = 0.42023331
Iteration 155, loss = 0.42051775
Iteration 156, loss = 0.42057492
Iteration 157, loss = 0.42059931
Iteration 158, loss = 0.42045684
Iteration 159, loss = 0.42047580
Iteration 160, loss = 0.42114310
Iteration 161, loss = 0.42134452
Iteration 162, loss = 0.42055041
Iteration 163, loss = 0.42028307
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [14]:
print('Number of Layer =', mlp_1.n_layers_)
print('Number of Iteration =', mlp_1.n_iter_)
print('Current loss computed with the loss function =', mlp_1.loss_)

Number of Layer = 3
Number of Iteration = 163
Current loss computed with the loss function = 0.4202830677824757

Since it was the classification problem, we can evaluate the model using Confussion Matrix

A confusion matrix is a tabular summary of the number of correct and incorrect predictions made by a classifier. It can be used to evaluate the performance of a classification model through the calculation of performance metrics like accuracy, precision, recall and F-1 score.
y_test is a list that holds the actual labels. y_predmlp is a list that holds the predicted labels. metrics.confusion_matrix() takes in the list of actual labels and the list of predicted labels and calculates the confusion matrix for the given inputs.
The confusion matrix has four diferent values in an array, 'True Negative(Top-Left), 'False Positive'(Top-Right), 'False Negative'(Bottom-Left) and 'True Positive'(Bottom-Right).

In [15]:
# Import the metrics class
from sklearn import metrics


# Confussion Matrix
cnf_matrixmlp = metrics.confusion_matrix(y_test_1, y_predmlp_1)
cnf_matrixmlp

array([[1397,  188],
       [ 208,  320]])

In [16]:
# For 10:90 train-test ratio
from sklearn.model_selection import train_test_split, cross_val_score
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(train_feature_1,
                                                            train_target_1, 
                                                            shuffle = True, 
                                                            test_size=0.9, 
                                                            random_state=1)

In [17]:
# Show the training data
X_train_2.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges
4342,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.722222,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.503205,0.357814
775,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.931680,0.930030
4871,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.805556,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.061825,0.049571
4648,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.057692,0.000144
5209,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.925776,0.090524

In [18]:
# Fitting Model
mlp_2 = MLPClassifier(hidden_layer_sizes=(5), activation = 'relu', solver = 'adam',max_iter= 10000, verbose = True)
mlp_2 = mlp_2.fit(X_train_2,y_train_2)

# Prediction to Test Dataset
y_predmlp_2 = mlp_2.predict(X_test_2)

Iteration 1, loss = 1.58277533
Iteration 2, loss = 1.51716494
Iteration 3, loss = 1.45628112
Iteration 4, loss = 1.40095440
Iteration 5, loss = 1.35070943
Iteration 6, loss = 1.30305001
Iteration 7, loss = 1.25801389
Iteration 8, loss = 1.21776879
Iteration 9, loss = 1.17886388
Iteration 10, loss = 1.14268317
Iteration 11, loss = 1.10754769
Iteration 12, loss = 1.07313057
Iteration 13, loss = 1.04054638
Iteration 14, loss = 1.00879614
Iteration 15, loss = 0.97686905
Iteration 16, loss = 0.94454777
Iteration 17, loss = 0.91262189
Iteration 18, loss = 0.87968824
Iteration 19, loss = 0.84754807
Iteration 20, loss = 0.81629250
Iteration 21, loss = 0.78719395
Iteration 22, loss = 0.75962998
Iteration 23, loss = 0.73406627
Iteration 24, loss = 0.71007822
Iteration 25, loss = 0.68951205
Iteration 26, loss = 0.67000595
Iteration 27, loss = 0.65393851
Iteration 28, loss = 0.63861816
Iteration 29, loss = 0.62627991
Iteration 30, loss = 0.61560911
Iteration 31, loss = 0.60622053
Iteration 32, loss = 0.59855971
Iteration 33, loss = 0.59219290
Iteration 34, loss = 0.58657127
Iteration 35, loss = 0.58205545
Iteration 36, loss = 0.57819639
Iteration 37, loss = 0.57452876
Iteration 38, loss = 0.57149611
Iteration 39, loss = 0.56905152
Iteration 40, loss = 0.56656440
Iteration 41, loss = 0.56437582
Iteration 42, loss = 0.56243467
Iteration 43, loss = 0.56043965
Iteration 44, loss = 0.55865076
Iteration 45, loss = 0.55681687
Iteration 46, loss = 0.55500013
Iteration 47, loss = 0.55327345
Iteration 48, loss = 0.55156101
Iteration 49, loss = 0.54981586
Iteration 50, loss = 0.54818877
Iteration 51, loss = 0.54643647
Iteration 52, loss = 0.54481386
Iteration 53, loss = 0.54312245
Iteration 54, loss = 0.54142604
Iteration 55, loss = 0.53976566
Iteration 56, loss = 0.53808081
Iteration 57, loss = 0.53648282
Iteration 58, loss = 0.53482921
Iteration 59, loss = 0.53330712
Iteration 60, loss = 0.53162070
Iteration 61, loss = 0.53016049
Iteration 62, loss = 0.52866771
Iteration 63, loss = 0.52726326
Iteration 64, loss = 0.52570729
Iteration 65, loss = 0.52423841
Iteration 66, loss = 0.52282283
Iteration 67, loss = 0.52143187
Iteration 68, loss = 0.52013227
Iteration 69, loss = 0.51881620
Iteration 70, loss = 0.51747033
Iteration 71, loss = 0.51614503
Iteration 72, loss = 0.51495413
Iteration 73, loss = 0.51367184
Iteration 74, loss = 0.51240889
Iteration 75, loss = 0.51128853
Iteration 76, loss = 0.51013468
Iteration 77, loss = 0.50894303
Iteration 78, loss = 0.50787901
Iteration 79, loss = 0.50664640
Iteration 80, loss = 0.50555213
Iteration 81, loss = 0.50439539
Iteration 82, loss = 0.50333605
Iteration 83, loss = 0.50225611
Iteration 84, loss = 0.50115896
Iteration 85, loss = 0.50015663
Iteration 86, loss = 0.49911520
Iteration 87, loss = 0.49807420
Iteration 88, loss = 0.49711668
Iteration 89, loss = 0.49609151
Iteration 90, loss = 0.49518153
Iteration 91, loss = 0.49428266
Iteration 92, loss = 0.49329813
Iteration 93, loss = 0.49244362
Iteration 94, loss = 0.49154124
Iteration 95, loss = 0.49066244
Iteration 96, loss = 0.48975213
Iteration 97, loss = 0.48891699
Iteration 98, loss = 0.48814151
Iteration 99, loss = 0.48726464
Iteration 100, loss = 0.48646690
Iteration 101, loss = 0.48570737
Iteration 102, loss = 0.48490377
Iteration 103, loss = 0.48414106
Iteration 104, loss = 0.48348647
Iteration 105, loss = 0.48272165
Iteration 106, loss = 0.48207867
Iteration 107, loss = 0.48140259
Iteration 108, loss = 0.48075884
Iteration 109, loss = 0.48001317
Iteration 110, loss = 0.47948094
Iteration 111, loss = 0.47883409
Iteration 112, loss = 0.47826419
Iteration 113, loss = 0.47769223
Iteration 114, loss = 0.47708509
Iteration 115, loss = 0.47652487
Iteration 116, loss = 0.47598742
Iteration 117, loss = 0.47539401
Iteration 118, loss = 0.47489065
Iteration 119, loss = 0.47433959
Iteration 120, loss = 0.47381535
Iteration 121, loss = 0.47329607
Iteration 122, loss = 0.47277002
Iteration 123, loss = 0.47223686
Iteration 124, loss = 0.47176332
Iteration 125, loss = 0.47135690
Iteration 126, loss = 0.47088800
Iteration 127, loss = 0.47044932
Iteration 128, loss = 0.47005584
Iteration 129, loss = 0.46961092
Iteration 130, loss = 0.46919327
Iteration 131, loss = 0.46883097
Iteration 132, loss = 0.46836031
Iteration 133, loss = 0.46799950
Iteration 134, loss = 0.46765706
Iteration 135, loss = 0.46722009
Iteration 136, loss = 0.46684449
Iteration 137, loss = 0.46649494
Iteration 138, loss = 0.46613371
Iteration 139, loss = 0.46578383
Iteration 140, loss = 0.46542123
Iteration 141, loss = 0.46507513
Iteration 142, loss = 0.46472427
Iteration 143, loss = 0.46433717
Iteration 144, loss = 0.46398185
Iteration 145, loss = 0.46364431
Iteration 146, loss = 0.46332032
Iteration 147, loss = 0.46301056
Iteration 148, loss = 0.46269537
Iteration 149, loss = 0.46232302
Iteration 150, loss = 0.46207105
Iteration 151, loss = 0.46170165
Iteration 152, loss = 0.46134568
Iteration 153, loss = 0.46109359
Iteration 154, loss = 0.46080676
Iteration 155, loss = 0.46049441
Iteration 156, loss = 0.46027852
Iteration 157, loss = 0.45997794
Iteration 158, loss = 0.45968925
Iteration 159, loss = 0.45945037
Iteration 160, loss = 0.45920336
Iteration 161, loss = 0.45899066
Iteration 162, loss = 0.45873441
Iteration 163, loss = 0.45851186
Iteration 164, loss = 0.45828540
Iteration 165, loss = 0.45800806
Iteration 166, loss = 0.45780729
Iteration 167, loss = 0.45758594
Iteration 168, loss = 0.45737091
Iteration 169, loss = 0.45718810
Iteration 170, loss = 0.45695150
Iteration 171, loss = 0.45672677
Iteration 172, loss = 0.45647452
Iteration 173, loss = 0.45628133
Iteration 174, loss = 0.45603843
Iteration 175, loss = 0.45580892
Iteration 176, loss = 0.45557565
Iteration 177, loss = 0.45540304
Iteration 178, loss = 0.45515129
Iteration 179, loss = 0.45487440
Iteration 180, loss = 0.45475971
Iteration 181, loss = 0.45453232
Iteration 182, loss = 0.45435714
Iteration 183, loss = 0.45416824
Iteration 184, loss = 0.45394048
Iteration 185, loss = 0.45368557
Iteration 186, loss = 0.45349210
Iteration 187, loss = 0.45321183
Iteration 188, loss = 0.45309123
Iteration 189, loss = 0.45282664
Iteration 190, loss = 0.45264355
Iteration 191, loss = 0.45240408
Iteration 192, loss = 0.45221014
Iteration 193, loss = 0.45200051
Iteration 194, loss = 0.45186815
Iteration 195, loss = 0.45161677
Iteration 196, loss = 0.45144780
Iteration 197, loss = 0.45125590
Iteration 198, loss = 0.45112180
Iteration 199, loss = 0.45086385
Iteration 200, loss = 0.45067303
Iteration 201, loss = 0.45053716
Iteration 202, loss = 0.45035798
Iteration 203, loss = 0.45019132
Iteration 204, loss = 0.45001436
Iteration 205, loss = 0.44979316
Iteration 206, loss = 0.44964041
Iteration 207, loss = 0.44946829
Iteration 208, loss = 0.44930462
Iteration 209, loss = 0.44908626
Iteration 210, loss = 0.44896494
Iteration 211, loss = 0.44877809
Iteration 212, loss = 0.44859512
Iteration 213, loss = 0.44838567
Iteration 214, loss = 0.44821461
Iteration 215, loss = 0.44808020
Iteration 216, loss = 0.44786173
Iteration 217, loss = 0.44768508
Iteration 218, loss = 0.44754240
Iteration 219, loss = 0.44755392
Iteration 220, loss = 0.44724492
Iteration 221, loss = 0.44705978
Iteration 222, loss = 0.44693220
Iteration 223, loss = 0.44676226
Iteration 224, loss = 0.44660364
Iteration 225, loss = 0.44644351
Iteration 226, loss = 0.44629343
Iteration 227, loss = 0.44608232
Iteration 228, loss = 0.44594982
Iteration 229, loss = 0.44578446
Iteration 230, loss = 0.44560128
Iteration 231, loss = 0.44546611
Iteration 232, loss = 0.44533002
Iteration 233, loss = 0.44519732
Iteration 234, loss = 0.44505337
Iteration 235, loss = 0.44488365
Iteration 236, loss = 0.44475684
Iteration 237, loss = 0.44457663
Iteration 238, loss = 0.44449980
Iteration 239, loss = 0.44431937
Iteration 240, loss = 0.44413688
Iteration 241, loss = 0.44409320
Iteration 242, loss = 0.44389652
Iteration 243, loss = 0.44370059
Iteration 244, loss = 0.44354757
Iteration 245, loss = 0.44340657
Iteration 246, loss = 0.44321538
Iteration 247, loss = 0.44315128
Iteration 248, loss = 0.44297701
Iteration 249, loss = 0.44295750
Iteration 250, loss = 0.44264866
Iteration 251, loss = 0.44256080
Iteration 252, loss = 0.44241827
Iteration 253, loss = 0.44229375
Iteration 254, loss = 0.44216437
Iteration 255, loss = 0.44196976
Iteration 256, loss = 0.44179345
Iteration 257, loss = 0.44166223
Iteration 258, loss = 0.44151093
Iteration 259, loss = 0.44132766
Iteration 260, loss = 0.44129042
Iteration 261, loss = 0.44112915
Iteration 262, loss = 0.44101707
Iteration 263, loss = 0.44084700
Iteration 264, loss = 0.44070223
Iteration 265, loss = 0.44051697
Iteration 266, loss = 0.44032169
Iteration 267, loss = 0.44026217
Iteration 268, loss = 0.44008897
Iteration 269, loss = 0.44000540
Iteration 270, loss = 0.43981606
Iteration 271, loss = 0.43969216
Iteration 272, loss = 0.43956396
Iteration 273, loss = 0.43939645
Iteration 274, loss = 0.43924735
Iteration 275, loss = 0.43922090
Iteration 276, loss = 0.43900822
Iteration 277, loss = 0.43887856
Iteration 278, loss = 0.43871982
Iteration 279, loss = 0.43858799
Iteration 280, loss = 0.43848876
Iteration 281, loss = 0.43834150
Iteration 282, loss = 0.43827449
Iteration 283, loss = 0.43805878
Iteration 284, loss = 0.43792704
Iteration 285, loss = 0.43779898
Iteration 286, loss = 0.43769265
Iteration 287, loss = 0.43753685
Iteration 288, loss = 0.43740699
Iteration 289, loss = 0.43724416
Iteration 290, loss = 0.43714940
Iteration 291, loss = 0.43703485
Iteration 292, loss = 0.43688652
Iteration 293, loss = 0.43680132
Iteration 294, loss = 0.43671522
Iteration 295, loss = 0.43658887
Iteration 296, loss = 0.43642274
Iteration 297, loss = 0.43626706
Iteration 298, loss = 0.43610720
Iteration 299, loss = 0.43599140
Iteration 300, loss = 0.43588925
Iteration 301, loss = 0.43573736
Iteration 302, loss = 0.43568780
Iteration 303, loss = 0.43552067
Iteration 304, loss = 0.43536866
Iteration 305, loss = 0.43517173
Iteration 306, loss = 0.43513338
Iteration 307, loss = 0.43497655
Iteration 308, loss = 0.43481316
Iteration 309, loss = 0.43466930
Iteration 310, loss = 0.43463494
Iteration 311, loss = 0.43441163
Iteration 312, loss = 0.43431098
Iteration 313, loss = 0.43417218
Iteration 314, loss = 0.43401419
Iteration 315, loss = 0.43397279
Iteration 316, loss = 0.43382934
Iteration 317, loss = 0.43374862
Iteration 318, loss = 0.43361702
Iteration 319, loss = 0.43346529
Iteration 320, loss = 0.43340146
Iteration 321, loss = 0.43319454
Iteration 322, loss = 0.43310951
Iteration 323, loss = 0.43298534
Iteration 324, loss = 0.43286952
Iteration 325, loss = 0.43271327
Iteration 326, loss = 0.43264076
Iteration 327, loss = 0.43248682
Iteration 328, loss = 0.43238473
Iteration 329, loss = 0.43227151
Iteration 330, loss = 0.43217052
Iteration 331, loss = 0.43206415
Iteration 332, loss = 0.43196284
Iteration 333, loss = 0.43178043
Iteration 334, loss = 0.43173303
Iteration 335, loss = 0.43158264
Iteration 336, loss = 0.43149371
Iteration 337, loss = 0.43133997
Iteration 338, loss = 0.43124694
Iteration 339, loss = 0.43116586
Iteration 340, loss = 0.43116057
Iteration 341, loss = 0.43101922
Iteration 342, loss = 0.43087845
Iteration 343, loss = 0.43073447
Iteration 344, loss = 0.43060263
Iteration 345, loss = 0.43053933
Iteration 346, loss = 0.43041045
Iteration 347, loss = 0.43033737
Iteration 348, loss = 0.43021233
Iteration 349, loss = 0.43025906
Iteration 350, loss = 0.42996116
Iteration 351, loss = 0.42990129
Iteration 352, loss = 0.42991502
Iteration 353, loss = 0.42971697
Iteration 354, loss = 0.42957817
Iteration 355, loss = 0.42958063
Iteration 356, loss = 0.42947168
Iteration 357, loss = 0.42951794
Iteration 358, loss = 0.42931139
Iteration 359, loss = 0.42906779
Iteration 360, loss = 0.42912030
Iteration 361, loss = 0.42906720
Iteration 362, loss = 0.42898255
Iteration 363, loss = 0.42886409
Iteration 364, loss = 0.42865141
Iteration 365, loss = 0.42853070
Iteration 366, loss = 0.42841908
Iteration 367, loss = 0.42834018
Iteration 368, loss = 0.42824418
Iteration 369, loss = 0.42829082
Iteration 370, loss = 0.42813069
Iteration 371, loss = 0.42807558
Iteration 372, loss = 0.42791176
Iteration 373, loss = 0.42776468
Iteration 374, loss = 0.42767905
Iteration 375, loss = 0.42762261
Iteration 376, loss = 0.42760533
Iteration 377, loss = 0.42747064
Iteration 378, loss = 0.42742422
Iteration 379, loss = 0.42739351
Iteration 380, loss = 0.42729115
Iteration 381, loss = 0.42713289
Iteration 382, loss = 0.42701451
Iteration 383, loss = 0.42689188
Iteration 384, loss = 0.42682024
Iteration 385, loss = 0.42676220
Iteration 386, loss = 0.42692391
Iteration 387, loss = 0.42657364
Iteration 388, loss = 0.42644886
Iteration 389, loss = 0.42638785
Iteration 390, loss = 0.42631000
Iteration 391, loss = 0.42623482
Iteration 392, loss = 0.42620831
Iteration 393, loss = 0.42602807
Iteration 394, loss = 0.42592558
Iteration 395, loss = 0.42584568
Iteration 396, loss = 0.42576237
Iteration 397, loss = 0.42569446
Iteration 398, loss = 0.42567581
Iteration 399, loss = 0.42551824
Iteration 400, loss = 0.42543562
Iteration 401, loss = 0.42539417
Iteration 402, loss = 0.42530044
Iteration 403, loss = 0.42524573
Iteration 404, loss = 0.42519791
Iteration 405, loss = 0.42500403
Iteration 406, loss = 0.42495795
Iteration 407, loss = 0.42492586
Iteration 408, loss = 0.42483362
Iteration 409, loss = 0.42479581
Iteration 410, loss = 0.42478334
Iteration 411, loss = 0.42476675
Iteration 412, loss = 0.42454236
Iteration 413, loss = 0.42444501
Iteration 414, loss = 0.42438004
Iteration 415, loss = 0.42427473
Iteration 416, loss = 0.42419799
Iteration 417, loss = 0.42412273
Iteration 418, loss = 0.42407283
Iteration 419, loss = 0.42400038
Iteration 420, loss = 0.42391354
Iteration 421, loss = 0.42385021
Iteration 422, loss = 0.42375297
Iteration 423, loss = 0.42370588
Iteration 424, loss = 0.42363044
Iteration 425, loss = 0.42356075
Iteration 426, loss = 0.42345442
Iteration 427, loss = 0.42339641
Iteration 428, loss = 0.42331779
Iteration 429, loss = 0.42328815
Iteration 430, loss = 0.42331198
Iteration 431, loss = 0.42323067
Iteration 432, loss = 0.42310520
Iteration 433, loss = 0.42299109
Iteration 434, loss = 0.42291062
Iteration 435, loss = 0.42286836
Iteration 436, loss = 0.42280948
Iteration 437, loss = 0.42265367
Iteration 438, loss = 0.42260444
Iteration 439, loss = 0.42266619
Iteration 440, loss = 0.42262872
Iteration 441, loss = 0.42241534
Iteration 442, loss = 0.42235113
Iteration 443, loss = 0.42232447
Iteration 444, loss = 0.42222096
Iteration 445, loss = 0.42212524
Iteration 446, loss = 0.42204649
Iteration 447, loss = 0.42197220
Iteration 448, loss = 0.42200242
Iteration 449, loss = 0.42190426
Iteration 450, loss = 0.42179868
Iteration 451, loss = 0.42174228
Iteration 452, loss = 0.42172579
Iteration 453, loss = 0.42163592
Iteration 454, loss = 0.42151308
Iteration 455, loss = 0.42168608
Iteration 456, loss = 0.42148405
Iteration 457, loss = 0.42135361
Iteration 458, loss = 0.42138162
Iteration 459, loss = 0.42126875
Iteration 460, loss = 0.42110806
Iteration 461, loss = 0.42119646
Iteration 462, loss = 0.42116771
Iteration 463, loss = 0.42101516
Iteration 464, loss = 0.42098264
Iteration 465, loss = 0.42085803
Iteration 466, loss = 0.42082489
Iteration 467, loss = 0.42072560
Iteration 468, loss = 0.42067416
Iteration 469, loss = 0.42063774
Iteration 470, loss = 0.42074371
Iteration 471, loss = 0.42053951
Iteration 472, loss = 0.42043567
Iteration 473, loss = 0.42034689
Iteration 474, loss = 0.42029560
Iteration 475, loss = 0.42022875
Iteration 476, loss = 0.42019405
Iteration 477, loss = 0.42017731
Iteration 478, loss = 0.42002474
Iteration 479, loss = 0.42000098
Iteration 480, loss = 0.41994642
Iteration 481, loss = 0.41991449
Iteration 482, loss = 0.41981113
Iteration 483, loss = 0.41979840
Iteration 484, loss = 0.41972821
Iteration 485, loss = 0.41969591
Iteration 486, loss = 0.41965228
Iteration 487, loss = 0.41955915
Iteration 488, loss = 0.41949200
Iteration 489, loss = 0.41942696
Iteration 490, loss = 0.41940031
Iteration 491, loss = 0.41933230
Iteration 492, loss = 0.41924877
Iteration 493, loss = 0.41917606
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

Accuracy measures how often the model is correct.

It is calculated as: Accuracy = (TP + TN)/Total Predictions

Precision means of the positives predicted, what percentage is truly positive?

It is calculated as: Precision = TP/(TP + FP)

Recall indicates of all the positive cases, what percentage are predicted positive?

Recall = TP/(TP + FN)

F1 Score is the harmonic mean of precision and recall.

F1 Score = 2(PrceisionRecall)/(Precision + Recall)

In [19]:
###############################################################################
# 2. Train only 10% of the dataset, then run cell by cell from the top again. 
#    Compare the performance and explain. 

# Show the Accuracy, Precision, Recall, F1, etc. 
acc_mlp_1   = metrics.accuracy_score(y_test_1, y_predmlp_1)
prec_mlp_1  = metrics.precision_score(y_test_1, y_predmlp_1)
rec_mlp_1   = metrics.recall_score(y_test_1, y_predmlp_1)
f1_mlp_1    = metrics.f1_score(y_test_1, y_predmlp_1)
kappa_mlp_1 = metrics.cohen_kappa_score(y_test_1, y_predmlp_1)

acc_mlp_2   = metrics.accuracy_score(y_test_2, y_predmlp_2)
prec_mlp_2  = metrics.precision_score(y_test_2, y_predmlp_2)
rec_mlp_2   = metrics.recall_score(y_test_2, y_predmlp_2)
f1_mlp_2    = metrics.f1_score(y_test_2, y_predmlp_2)
kappa_mlp_2 = metrics.cohen_kappa_score(y_test_2, y_predmlp_2)

print("-------------Performance with 70:30 train-test ratio-------------------")
print("Accuracy:", acc_mlp_1)
print("Precision:", prec_mlp_1)
print("Recall:", rec_mlp_1)
print("F1 Score:", f1_mlp_1)
print("Cohens Kappa Score:", kappa_mlp_1)

print("-------------Performance with 10:90 train-test ratio-------------------")
print("Accuracy:", acc_mlp_2)
print("Precision:", prec_mlp_2)
print("Recall:", rec_mlp_2)
print("F1 Score:", f1_mlp_2)
print("Cohens Kappa Score:", kappa_mlp_2)

-------------Performance with 70:30 train-test ratio-------------------
Accuracy: 0.812588736393753
Precision: 0.6299212598425197
Recall: 0.6060606060606061
F1 Score: 0.6177606177606176
Cohens Kappa Score: 0.4936839684864034
-------------Performance with 10:90 train-test ratio-------------------
Accuracy: 0.7942893200820319
Precision: 0.6189848384970337
Recall: 0.563963963963964
F1 Score: 0.5901948460087995
Cohens Kappa Score: 0.45327019724999285

It is clearly seen that the model's correctness and the true performance is dropped moderately when the training data size is reduced.
This is because with the 70:30 train-test ratio, the model has enough data to trian the model, before testing it on the unknown test data as compared to the 10:90 train test ratio, where in contrast the model has huge amount of unknown data.

In [20]:
#####################################################################
# 3. Change the output parameter from Churn to TotalCharges, and run again to find 
#    out the mean squared error (MSE) value. (hint: use Multi Regressor)
# Selecting the Feature, by remove the unused feature 
feature_2 = ['TotalCharges']
train_feature_2 = df_churn.drop(feature_2, axis=1)

# Set The Target
train_target_2 = df_churn["TotalCharges"]

In [21]:
train_feature_2.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,Churn
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,1.0
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,1.0

In [22]:
# Split Data 
from sklearn.model_selection import train_test_split, cross_val_score
X_train_3, X_test_3, y_train_3, y_test_3 = train_test_split(train_feature_2,
                                                            train_target_2, 
                                                            shuffle = True, 
                                                            test_size=0.3, 
                                                            random_state=1)

In [23]:
X_train_3.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,Churn
5925,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.277778,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.056343,0.0
4395,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.958333,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.875169,1.0
1579,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.166667,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.676957,1.0
1040,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.194444,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.761302,1.0
1074,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.013889,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.016194,0.0

In [24]:
# Import Library
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

# Fitting Model

mlp = MLPRegressor(hidden_layer_sizes=(5), activation = 'relu', solver = 'adam',max_iter= 10000, verbose = True)
mlp = mlp.fit(X_train_3,y_train_3)

# Prediction to Test Dataset
y_predmlp_3 = mlp.predict(X_test_3)

Iteration 1, loss = 0.22782005
Iteration 2, loss = 0.11589921
Iteration 3, loss = 0.07629270
Iteration 4, loss = 0.05268521
Iteration 5, loss = 0.03880269
Iteration 6, loss = 0.03214905
Iteration 7, loss = 0.02877301
Iteration 8, loss = 0.02665774
Iteration 9, loss = 0.02504460
Iteration 10, loss = 0.02377668
Iteration 11, loss = 0.02271709
Iteration 12, loss = 0.02189077
Iteration 13, loss = 0.02119426
Iteration 14, loss = 0.02059020
Iteration 15, loss = 0.02008354
Iteration 16, loss = 0.01962719
Iteration 17, loss = 0.01921016
Iteration 18, loss = 0.01884202
Iteration 19, loss = 0.01852718
Iteration 20, loss = 0.01821053
Iteration 21, loss = 0.01792961
Iteration 22, loss = 0.01769687
Iteration 23, loss = 0.01749315
Iteration 24, loss = 0.01729315
Iteration 25, loss = 0.01711827
Iteration 26, loss = 0.01694462
Iteration 27, loss = 0.01679128
Iteration 28, loss = 0.01665337
Iteration 29, loss = 0.01650761
Iteration 30, loss = 0.01638419
Iteration 31, loss = 0.01627396
Iteration 32, loss = 0.01616327
Iteration 33, loss = 0.01606678
Iteration 34, loss = 0.01596917
Iteration 35, loss = 0.01590270
Iteration 36, loss = 0.01584711
Iteration 37, loss = 0.01575222
Iteration 38, loss = 0.01570738
Iteration 39, loss = 0.01564091
Iteration 40, loss = 0.01562191
Iteration 41, loss = 0.01556880
Iteration 42, loss = 0.01552881
Iteration 43, loss = 0.01547941
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [25]:
# Mean Squared Error
mse = mean_squared_error(y_test_3, y_predmlp_3)
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))

The mean squared error (MSE) on test set: 0.0318